{% extends 'base.html'%} {% import "bootstrap/wtf.html" as wtf %} {% block content %}
<div class="container" style="background-color:rgb(245, 245, 155);">
    <div class="row">
        <div class="col-md-3" style="padding:150px;"></div>
        <div class="col-md-6">
            {{ wtf.quick_form(fom) }}
        </div>
     
                {% for comment in comm %}
              
              <p>{{ comment.comment }}</p> 
              <p> By: {{comment.poster}}</p>

                {% endfor %}
        
    </div>
</div>

{% endblock %}