<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8"> {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> PITCH ALONG </title>
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
</head>
{% extends 'base.html'%} {% import 'macros.html' as macro%}{% import "bootstrap/wtf.html" as wtf %}

<body>
    {% block content %}
    <div class="panel panel-success panel-heading"><a href="/pitch" style="padding-left: 10px; ">PICK UP</a></div>
    <div class="panel panel-success panel-heading"><a href="/product" style="padding-left: 10px; ">PRODUCT</a></div>
    <div class="panel panel-success panel-heading"><a href="/interview" style="padding-left: 10px; ">INTERVIEW</a></div>
    <div class="panel panel-success panel-heading"><a href="/promotion" style="padding-left: 10px; ">PROMOTION</a></div>

    
   
    
    
    



    {% endblock%}






</body>

</html>