<link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet">


<div class="navbar navbar-inverse" role="navigation" style="background-color: rgb(48, 41, 90);">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                
            </button>             
            <a class="navbar-brand" href="/"><img src="https://static1.squarespace.com/static/58067cd5725e25f7f2f7d64f/t/5a5d20b58165f5ec9d0c636a/1516052677783/Pitch-Logo.png?format=1000w" alt="" style="height:40px; width:80px;"></a>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li style="font-size:20px;"><a href="/">Home</a></li>

        </div>
        
        <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li style="color:white;padding:18px;font-family: 'Fontdiner Swanky', cursive;"><H3>{{current_user.username}}</H3></li>
                <li class="pro"><a href="{{url_for('main.profile',uname=current_user.username)}}"><H3>profile</H3></a></li>
                <li><a href="{{url_for('auth.logout')}}"><H3>Sign out</H3></a></li>
                {% else %}
                <li><a href="{{url_for('auth.register')}}"><H3>Register</H3></a></li>
                <li><a href="{{url_for('auth.login')}}"><H3>Sign in</H3></a></li>
                {%endif%}
              </ul>



    </div>

</div>

<style>
#pro{
    font-family: 'Cookie', cursive;
    font-size: 30px;
    
}
</style>