{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
<div class="row">

        <h1 class="text-center">Pitches</h1>
        <hr>

        {% if pitches %}

           {% for pitch in pitches %}
           
                <div class="panel panel-success panel-heading">
                        <ol>
                    <p>{{pitch.body}}</p> 
                    <p>By:{{pitch.post}}</p>
                </ol>
                </div>
           
           
        
           {% endfor %}
           <a class="btn btn-success btn-lg text-center" href="/new_pitch"> Add a new pitch</a>

        {% else%}
            <h3 class="text-center">No pitches yet</h3>
            

            <a class="btn btn-success btn-lg text-center" href="/new_pitch"> Add a new pitch</a>
        {% endif %}

    </div> 





</div>

{% endblock%}

