<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">

{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
<div class="row">
        <nav class="navbar navbar-default" role="navigation">
    
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse" id="pro">
                  <ul class="nav navbar-nav">
                    <li><a href="/pitch">Pick up</a></li>
                    <li><a href="/product">Product</a></li>
                  <li><a href="/interview">Interview</a></li>
                    <li><a href="/promotion">Promotion</a></li>
                    
                  </ul>
                </div>
              </nav>
        <h1 class="text-center">Product-Pitches</h1>
        <hr>

        {% if product_pitches %}

        {% for prodo in product_pitches %}           
                <div class="panel panel-success panel-heading">
                        <ol>
                    <H3 style="font-family: 'Cookie', cursive;">{{prodo.body}}</H3> 
                    <p>By:{{prodo.post}}</p>
                    <p>{{prodo.date_posted}}</p> 
                    
                </ol>
                </div>
           
           
        
           {% endfor %}
           <a class="btn btn-success btn-lg text-center" href="/new_pitch"> Add a new pitch</a>

        {% else%}
            <h3 class="text-center">No pitches yet</h3>
            

            <a class="btn btn-success btn-lg text-center" href="/new_pitch"> Add a new pitch</a>
        {% endif %}

    </div> 





</div>
<style>
#pro{
    font-family: 'Cookie', cursive;
    font-size: 30px;
    color: black;
    
}
</style>
{% endblock%}

