{% extends 'base.html'%} {% import 'macros.html' as macro%}{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<!-- <div class="panel panel-success panel-heading"><a href="/pitch" style="padding-left: 10px; ">PICK UP</a></div>
<div class="panel panel-success panel-heading"><a href="/product" style="padding-left: 10px; ">PRODUCT</a></div>
<div class="panel panel-success panel-heading"><a href="/interview" style="padding-left: 10px; ">INTERVIEW</a></div>
<div class="panel panel-success panel-heading"><a href="/promotion" style="padding-left: 10px; ">PROMOTION</a></div> -->

{% endblock %}